<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5Q42z7p-b_Qp65_JO6HmlHaWMzksPJmE</string>
	<key>GCM_SENDER_ID</key>
	<string>581324394770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>herofly.app.webviewdemo</string>
	<key>PROJECT_ID</key>
	<string>astsubaylarnet</string>
	<key>STORAGE_BUCKET</key>
	<string>astsubaylarnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581324394770:ios:19b37903023ec8b59ca3cb</string>
</dict>
</plist>